/* ======================= [01] LAYOUT STYLES ======================= */



/* ======================= [01] LAYOUT STYLES ======================= */


.gc-modalbox{
	position: fixed;
	top     : 0;
	left    : 0;
	width   : 100%;
	height  : 100%;
	z-index : 10000;
}

.gc-modal_wrapper{
	position     : absolute;
	top          : 50px;
	left         : 50%;
	margin-left  : -200px;
	width        : 450px;
	z-index      : 10001;
	box-sizing   : border-box;
	padding      : 30px;
}

.gc-login-wrapper{
	box-sizing   : border-box;
	padding      : 30px;
	border-radius: 2px;
	box-shadow   : 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	position     : relative;
	border-radius: 5px;
}

.gc-login-wrapper:before, .gc-login-wrapper:after{
	content           :"";
	position          :absolute;
	z-index           :-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow   :0 0 20px rgba(0,0,0,0.2);
	box-shadow        :0 0 20px rgba(0,0,0,0.2);
	top               :0;
	bottom            :0;
	left              :10px;
	right             :10px;
	-moz-border-radius:100px / 10px;
	border-radius     :100px / 10px;
}

.gc-login-wrapper:after{
	right            :10px;
	left             :auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform   :skew(8deg) rotate(3deg);
	-ms-transform    :skew(8deg) rotate(3deg);
	-o-transform     :skew(8deg) rotate(3deg);
	transform        :skew(8deg) rotate(3deg);
}

.gc-login-wrapper input[type=text]{
	margin-bottom: 20px;
}

.gc-login-wrapper .login-submit{
	padding-top: 0px;
	text-align : right;
}

.gc-login-wrapper .login-submit input[type=submit]{
	padding      : 10px 30px;
	border-radius: 2px;
}

.gc-login-wrapper .login-remember{
	padding-top: 20px;
	position   : relative;
}

.gc-login-wrapper input[type=text], .gc-login-wrapper input{
	border: none;
}
